*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}
.shop
{
    width: 100%;
    padding: 20px 30px;
}
.shop h2
{
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 1px;
    color: #232323;
    font-size: 32px;
    font-weight: 300;
}
.shop p
{
    margin-top: 5px;
    color: #8a8a8a;
    font-size: 14px;
    font-weight: 300;
}
.shop .container
{
    max-width: 100%;
    display: flex;
    margin-top: 20px;
}
.shop .container .left_box
{ 
    width: 25%;  
}
.shop .container .left_box .category 
{
    border: 3px solid #f6f6f6;
    width: 250px;
}
.shop .container .left_box .category .header 
{
    max-width: 100%;
    padding: 10px 20px;
    background: #f6f6f6;
}
.shop .container .left_box .category .header h3
{
    font-size: 16px;
    color: #232323;
    letter-spacing: 1px;
    text-transform: uppercase;

}
.shop .container .left_box .category .box
{
    margin-top: 10px;
    width: 100%;
    padding: 10px 20px;
}
.shop .container .left_box .category .box ul
{
    max-width: 100%;
}
.shop .container .left_box .category .box ul li
{
    list-style: none;
    margin-left: 10px;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: 14px;
    color: #8a8a8a;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5;
}
.shop .container .left_box .category .box ul li:hover
{
    color: #232323;
}
.shop .container .left_box .banner 
{
    margin-top: 20px;
    width: 250px;
}
.shop .container .left_box .banner .img_box img
{
    width: 100%;
    object-fit: cover;
}