.admin-home {
    text-align: center;
    padding: 20px;
  }
  
  .admin-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .admin-card {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .admin-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .admin-card a {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  
  .admin-card h2 {
    margin-top: 10px;
    font-size: 1.5em;
  }
  
  .admin-card p {
    margin-top: 5px;
    color: #555;
  }
  
  .back-to-home {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
  }
  
  .back-to-home:hover {
    background-color: #0056b3;
  }
  .logout-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .logout-button:hover {
    background-color: #d32f2f;
  }
  
  